[submodule "firmware/Core/Inc/embedded_json"]
	path = firmware/Core/Inc/embedded_json
	url = git@github.com:KozAAAAA/embedded_json.git
[submodule "hardware/PUTM_Kicad_Library"]
	path = hardware/PUTM_Kicad_Library
	url = https://github.com/PUT-Motorsport/PUTM_Kicad_Library.git
	branch = kicad7
